@charset "UTF-8";

@import 'fonts';

:root {
  --fs-base: 16px;
  --font-size-22:  22px;
  --font-weight: 400;
  --line-height: 1;
  --color-black: rgba(0, 0, 0, 1);

  --text-color-black: rgba(0, 0, 0, 1);
  --text-color-gray7: rgba(17, 17, 17, 1);
  --text-color-gray9: rgba(23, 23, 23, 1);
  --text-color-gray26: rgba(68, 68, 68, 1);
  --text-color-gray40: rgba(102, 102, 102, 1);
  --text-color-white: rgba(255, 255, 255, 1);

  --background-color-gray2: rgba(228, 228, 228, 1);
  --background-color-gray7: rgba(17, 17, 17, 1);
  --background-color-gray93: rgba(238, 238, 238, 1);
  --background-color-gray95: rgba(241, 241, 241, 1);
  --background-color-white: rgba(255, 255, 255, 1);
  
  --border-color-black: rgba(0, 0, 0, 1);
  --border-color-gray85: rgba(216, 216, 216, 1);
  --border-color-white: rgba(255, 255, 255, 1);

  --track-color: rgba(235, 235, 235, 1);
  --thumb-color: rgba(23, 23, 23, 1);
  --input-border-color: rgba(187, 187, 187, 1);
  --grid-min-width: 330px;
  --range-progress: calc(1.5%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
a,
a:hover {
  text-decoration: none;
}

body, textarea, a, div, p {
  font-size: var(--fs-base);
  font-family: 'Pretendard Variable', sans-serif;
  color: var(--text-color-gray7);
}

body {
  background-color: rgba(250, 250, 250, 1);
}

.header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1400px;
  padding: 15px 20px 15px;
  margin: auto;
}
h1 {
	> a {
		display: flex;
		align-items: center;
		padding: 15px 0 5px;
		font-size: 20px;
		text-transform: capitalize;
		color: var(--text-color-black);
		font-family: "Unbounded", sans-serif;
		font-optical-sizing: auto;
		font-weight: 500;
		font-style: normal;
		font-variation-settings:
		"SOFT" 0,
		"WONK" 0;
		&::before {
			content: '';
			width: 34px;
			aspect-ratio: 1;
			margin-right: 8px;
			background-image: url('../assets/logo_font_preview.png');
			background-size: 100% 100%;
		}
	}
}
.nav {
  display: flex;
  justify-self: flex-end;
  margin-left: auto;
	a {
		display: block;
		padding: 12px 15px;
		border-radius: 100vmin;
		font-size: 14px;
		line-height: 1;
		color: var(--text-color-gray40);
		background-color: transparent;
		transition: background-color .1s ease-in;
		&:hover {
			color: rgba(23, 23, 23, 1);
			background-color: rgba(0, 0, 0, .06);
		}
	}
}
main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  max-width: 1200px;
  padding: 40px 20px;
  margin: auto;
}
main:has(.checklist) {
  grid-template-columns: 1fr 230px;
}
.home main {
  grid-template-columns: 1fr;
  gap: 0;
}
.sidebar {
  --input-color-size: 16px;
  --input-range-border: 2px; 
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  position: sticky;
  top: 10px;
  z-index: 99;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 15px;
  border: 1px solid var(--border-color-gray85);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .3);
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .05);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
	.tit {
		margin: 10px 20px 10px 0;
		font-size: 20px;
	}
	> ul {
		display: flex;
		gap: 10px;
		flex-grow: 1;
	}
	li label {
		display: block;
		margin-bottom: 8px;
		margin-left: 2px;
		font-size: 11px;
		text-transform: capitalize;
	}
}
.content {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.checklist {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
	h3 {
		padding-bottom: 10px;
		border-bottom: 1px solid rgba(0, 0, 0, .1);
		margin-bottom: 15px;
		font-weight: 600;
		font-size: 16px;
	}
	li {
		margin-bottom: 8px;
	}
	input {
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
    + .text {
      padding: 10px 16px;
      border-radius: 4px;
      font-size: 14px;
    }
    &:checked + .text::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='16' viewBox='0 0 20 20' width='16'%3E%3Cpath d='M14 7L8.5 12.5L6 10' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3C/path%3E%3C/svg%3E");
      background-position: 50% 50%;
      background-color: var(--background-color-gray7);
      background-size: 100% auto;
    }
	}
	.text {
		display: flex;
		align-items: center;
		font-size: 14px;
		color: var(--text-color-gray9);
		background-color: var(--background-color-gray95);
		user-select: none;
		cursor: pointer;
    &:hover {
      background-color: var(--background-color-gray93);
    }
    &::before {
      content: '';
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 16px;
      width: 16px;
      margin-right: 10px;
      position: relative;
      transform: rotate(1e-06deg);
      background: var(--ds-background-100);
      border-radius: 4px;
      transition: border-color 0.2s, background 0.2s, box-shadow 0.2s;
      border: 1px solid hsla(0,0%,56%,1) !important;
    }
	}
}
.footer {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  padding: 30px 0;
  text-align: center;
}

.header-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  hgroup {
    padding: 15px;
    border: 1px solid rgb(234, 234, 234);
    border-radius: 5px;
    background-color: var(--background-color-white);
  }
	h2 {
		margin-bottom: 15px;
    font-weight: 500;
		font-size: 32px;
		color: var(--text-color-gray26);
	}
	p {
		margin-bottom: 30px;
		font-size: 18px;
		color: var(--text-color-gray26);
	}
	.font-editor {
		height: 170px;
		padding: 15px;
		border: 1px solid rgb(234, 234, 234);
		border-radius: 5px;
		background-color: var(--background-color-white);
		font-weight: var(--font-weight);
		font-size: var(--font-size-22);
		line-height: var(--line-height);
		resize: none;
		&:focus {
			outline: none;
		}
	}
}

/* 메인 */
.introduction {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.5;
}
.font-family-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-gap: 20px;
  > li {
    padding: 20px;
    border: 1px solid var(--border-color-gray85);
    border-radius: 8px;
    transition: box-shadow 3s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .03);
    background-color: var(--background-color-white);
    &:hover {
      box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
    }
  }
  dt {
    margin-bottom: 5px;
    font-size: 22px;
    + dd {
      margin-left: auto;
    }
  }
  dd {
    display: inline-flex;
    margin-left: 6px;
  }
  a {
    display: inline-flex;
    width: 20px;
    height: 20px;
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 0;
    color: transparent;
    &.github {
      background-image: url('../assets/icon_github.svg');
    }
    &.homepage {
      background-image: url('../assets/icon_home.svg');
    }
    &[href=''] {
      opacity: 0.7;
      pointer-events: none;
    }
  }
}
.main-section {
  margin-top: 40px;
  h2 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 22px;
  }
  .list {
    a:hover {
      text-decoration: underline;
    }
    li {
      position: relative;
      padding-left: 13px;
      margin-bottom: 10px;
      font-size: 18px;
      &::before {
        content: '';
        position: absolute;
        top: 11px;
        left: 0;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: currentColor;
      }
    }
  }
}

.font-preview-container {
  --preview-font-size:  22px;
  --preview-font-weight: 400;
  --preview-line-height: 1;
  --preview-color-base: rgba(17, 17, 17, 1);
  --preview-background-color: var(--background-color-white);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  min-height: 200px;
  margin-top: 20px;
  &:has(.active) .list-item:not(.active) {
    display: none;
  }
  .list-item {
    min-height: 200px;
    padding: 15px;
    border: 1px solid rgba(234, 234, 234, 1);
    border-radius: 5px;
    background-color: var(--preview-background-color);
    &:hover {
      box-shadow: 0px 4px 3px -2px rgba(9, 30, 66, 0.01), 0px 0px 8px 1px rgba(9, 30, 66, 0.04);
    }
  }
  .font-name {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: var(--fs-base);
  }
  .font-preview {
    font-variation-settings: 'wght' var(--preview-font-weight);
    font-weight: var(--preview-font-weight);
    font-size: var(--preview-font-size);
    line-height: var(--preview-line-height);
    color: var(--preview-color-base);
    word-break: break-all;
  }
}

.notosans-normal {
  font-family: 'Noto Sans KR', sans-serif;
}
.pretendard {
  font-family: 'Pretendard Variable';
}
.pretendard-normal {
  font-family: 'Pretendard';
}
.suit {
  font-family: 'SUIT Variable';
}
.suit-normal {
  font-family: 'SUIT', sans-serif;
}
.suite {
  font-family: 'SUITE Variable', sans-serif;
}
.suite-normal {
  font-family: 'SUITE', sans-serif;
}
.minsans {
  font-family:'Min Sans Variable';
}
.minsans-normal {
  font-family:'Min Sans Regular';
}
.spoqa-han-sans-normal {
  font-family: 'Spoqa Han Sans Neo', sans-serif;
}
.notosans {
  font-family: 'Noto Sans Variable', sans-serif;
}
.nanumgothic-normal {
  font-family: 'Nanum Gothic', sans-serif;
}
.ibmplexsanskr-normal {
  font-family: 'IBMPlexSansKR-Regular', sans-serif;
}
.koddiud-normal {
  font-family: 'KoddiUD Gothic Regular', sans-serif;
}
.nanum-square-neo {
  font-family: 'Nanum Square Neo Variable', sans-serif;
}
.nanum-square-neo-normal {
  font-family: 'Nanum Square Neo Regular', sans-serif;
}
.mmilsang88-normal {
  font-family: '87mmilsang Regular', sans-serif;
}
.wantedsans-normal {
  font-family: 'Wanted Sans', sans-serif;
}
.wantedsans {
  font-family: 'Wanted Sans Variable', sans-serif;
}
.interop-normal {
  font-family: 'Interop', sans-serif;
}
.freesentation-normal {
  font-family: 'Freesentation-4Regular', sans-serif;
}
.lineseed-normal {
  font-family: 'LINESeedKR-Rg', sans-serif;
}
.paperlogy-normal {
  font-family: 'Paperlogy-4Regular', sans-serif;
}

.freesentation {
  font-family: 'Freesentation Variable', sans-serif;
  font-size: 20px;
}
.freesentation-normal {
  font-family: 'Freesentation-4Regular', sans-serif;
}

.astasans {
  font-family: 'AstaSans Variable', sans-serif;
}
.astasans-normal {
  font-family: 'AstaSans-Regular', sans-serif;
}
.a2z-normal {
  font-family: 'A2Z-Regular', sans-serif;
}


input[type="range"] {
  -webkit-appearance: none;
  appearance: none; 
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  background: 
    linear-gradient(90deg, var(--thumb-color) var(--range-progress), var(--track-color) var(--range-progress));
  background-color: var(--track-color);
  /*  overflow: hidden;  remove this line*/
  
  /* New additions */
  height: 6px;
  // background: #ccc;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; 
  height: 15px;
  width: 15px;
  background-color: var(--thumb-color);
  border-radius: 50%;
  border: none;
  transition: .2s ease-in-out;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #f50;
  border-radius: 50%;
  border: none;
  
  /* box-shadow: -407px 0 0 400px #f50; emove this line */
  transition: .2s ease-in-out;
}

/* Hover, active & focus Thumb: Webkit */

input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 10px rgba(255,85,0, .1)
}
input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(255,85,0, .2)
}
input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(255,85,0, .2)
}

/* Hover, active & focus Thumb: Firfox */

input[type="range"]::-moz-range-thumb:hover {
  box-shadow: 0 0 0 10px rgba(255,85,0, .1)
}
input[type="range"]:active::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(255,85,0, .2)
}
input[type="range"]:focus::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(255,85,0, .2)    
}
