@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
@import url('https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/variable/woff2/SUIT-Variable.css');
@import url('https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css');
@import url('https://cdn.jsdelivr.net/gh/sunn-us/SUITE/fonts/variable/woff2/SUITE-Variable.css');
@import url('https://cdn.jsdelivr.net/gh/sunn-us/SUITE/fonts/static/woff2/SUITE.css');
@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css');
@import url('//fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import url('https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.2/packages/wanted-sans/fonts/webfonts/static/complete/WantedSans.min.css');
@import url('https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.2/packages/wanted-sans/fonts/webfonts/variable/complete/WantedSansVariable.min.css');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

@font-face{ 
  font-family:'Min Sans Variable';
  src:local(※), url(/fonts/variable/MinSansVF.woff2) format('woff2') }

@font-face{ 
  font-family:'Min Sans Regular';
  src:local(※), url(/fonts/static/MinSans-Regular.woff2) format('woff2') }

@font-face{ 
  font-family:'Noto Sans Variable';
  src:local(※), url(/fonts/variable/NotoSansKR-VF-distilled.woff2) format('woff2') }

@font-face{ 
  font-family:'Nanum Square Neo Variable';
  src:local(※), url(/fonts/variable/NanumSquareNeo-Variable.woff2) format('woff2') }

@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');}

@font-face{ 
  font-family:'KoddiUD Gothic Regular';
  src:local(※), url(/fonts/static/KoddiUDOnGothic-Regular.woff2) format('woff2') }

@font-face{ 
  font-family:'Nanum Square Neo Regular';
  src:local(※), url(/fonts/static/NanumSquareNeo-Regular.woff2) format('woff2') }

@font-face{ 
  font-family:'87mmilsang Oblique';
  src:local(※), url(/fonts/static/87MMILSANG-Oblique.woff2) format('woff2') }

@font-face{ 
  font-family:'87mmilsang Regular';
  src:local(※), url(/fonts/static/87MMILSANG-Regular.woff2) format('woff2') }

  @font-face{ 
  font-family:'87mmilsang Regular';
  src:local(※), url(/fonts/static/87MMILSANG-Regular.woff2) format('woff2') }

  :root {
  --font-size-12:  12px;
  --font-size-22:  22px;
  --font-weight: 400;
  --line-height: 1;
  --color: #111111;
  --color-gray2: #444444;
  --color-white: rgba(255, 255, 255, 1);
  --background-color: rgba(255, 255, 255, 1);
  --background-color-gray2: #e4e4e4;
  --border-color: #d8d8d8;
  --track-color: #dedede;
  --thumb-color: #181a33;
  --input-border-color: #bbbbbb;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
a,
a:hover {
  text-decoration: none;
}

body, textarea, a, div, p {
  font-family: 'Pretendard Variable', sans-serif;
  color: var(--color);
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: #558B58;
}
h1 {
  padding: 20px;
}
h1 > a {
  font-size: 34px;
  text-transform: uppercase;
  color: #F5E16D;
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}
.nav {
  position: absolute;
  right: 10px;
  bottom: 0;
  display: flex;
}
.nav a {
  display: block;
  padding: 12px 10px;
  line-height: 1;
  color: var(--color-white);
}
.nav a:hover {

}
main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  padding: 40px 20px;
}
.sidebar {
  --input-color-size: 20px;
  position: sticky;
  top: 10px;
  z-index: 99;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--background-color);
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .05);
}
.sidebar .tit {
  margin-right: 20px;
  font-size: 20px;
}
.sidebar > ul {
  display: flex;
}
.sidebar li {
  margin-right: 20px;
}
.sidebar li label {
  display: block;
  margin-bottom: 8px;
  margin-left: 2px;
  font-size: 11px;
  text-transform: capitalize;
}
.footer {
  padding: 30px 0;
  text-align: center;
}

.header-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  height: 170px;
}
.header-wrap h2 {
  margin-bottom: 15px;
  font-size: 32px;
  color: var(--color-gray2);
}
.header-wrap p {
  margin-bottom: 30px;
  font-size: 18px;
  color: var(--color-gray2);
}
.header-wrap .font-editor {
  width: 100%;
  padding: 15px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .05);
  font-weight: var(--font-weight);
  font-size: var(--font-size-22);
  line-height: var(--line-height);
  resize: none;
}
.header-wrap .font-editor:focus {
  outline: none;
}

/* 메인 */
.introduction {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.5;
}
.font-family-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-gap: 20px;
}
.font-family-list > li {
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  transition: background 3s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .03);
}
.font-family-list > li:hover {
  background: rgba(0, 0, 0, .03);
}
.font-family-list dt {
  margin-bottom: 5px;
  font-size: 22px;
}
.font-family-list dt + dd {
  margin-left: auto;
}
.font-family-list dd {
  display: inline-flex;
  margin-left: 6px;
}
.font-family-list a {
  display: inline-flex;
  width: 20px;
  height: 20px;
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 0;
  color: transparent;
}
.font-family-list a.github {
  background-image: url('../assets/icon_github.svg');
}
.font-family-list a.homepage {
  background-image: url('../assets/icon_home.svg');
}
.font-family-list a[href=''] {
  opacity: 0.7;
  pointer-events: none;
}

.font-preview-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  min-height: 200px;
  padding-top: 20px;
}
.font-preview-container .list-item {
  min-height: 200px;
  padding: 15px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .05);
  background-color: var(--background-color);
}
.font-preview-container .font-name {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
}
.font-preview-container .font-preview {
  font-variation-settings: 'wght' var(--font-weight);
  font-weight: var(--font-weight);
  font-size: var(--font-size-22);
  line-height: var(--line-height);
  color: var(--color);
  word-break: break-all;
}

.notosans-normal {
  font-family: 'Noto Sans KR', sans-serif;
}
.pretendard {
  font-family: 'Pretendard Variable';
}
.pretendard-normal {
  font-family: 'Pretendard';
}
.suit {
  font-family: 'SUIT Variable';
}
.suit-normal {
  font-family: ‘SUIT’, sans-serif;
}
.suite {
  font-family: 'SUITE Variable', sans-serif;
}
.suite-normal {
  font-family: 'SUITE', sans-serif;
}
.minsans {
  font-family:'Min Sans Variable';
}
.minsans-normal {
  font-family:'Min Sans Regular';
}
.spoqa-han-sans-normal {
  font-family: 'Spoqa Han Sans Neo', sans-serif;
}
.notosans {
  font-family: 'Noto Sans Variable', sans-serif;
}
.nanumgothic-normal {
  font-family: 'Nanum Gothic', sans-serif;
}
.ibmplexsanskr-normal {
  font-family: 'IBMPlexSansKR-Regular', sans-serif;
}
.koddiud-normal {
  font-family: 'KoddiUD Gothic Regular', sans-serif;
}
.nanum-square-neo {
  font-family: 'Nanum Square Neo Variable', sans-serif;
}
.nanum-square-neo-normal {
  font-family: 'Nanum Square Neo Regular', sans-serif;
}
.mmilsang88-normal {
  font-family: '87mmilsang Regular', sans-serif;
}
.wantedsans-normal {
  font-family: 'Wanted Sans', sans-serif;
}
.wantedsans {
  font-family: 'Wanted Sans Variable', sans-serif;
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}
input[type="range"]:disabled {
  opacity: .4;
  cursor: not-allowed;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** 크롬, 사파리, 오페라, 엣지 크롬 스타일 ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--track-color);
  border-radius: 2px;
  height: 6px;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -8px; /* Centers thumb on the track */
  background-color: var(--thumb-color);
  border-radius: 50%;
  width: var(--input-color-size);
  height: var(--input-color-size);
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 0;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: var(--track-color);
  border-radius: 2px;
  height: 6px;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: var(--thumb-color);
  border: none; /*Removes extra border that FF applies*/
  border-radius: 50%;
  width: var(--input-color-size);
  height: var(--input-color-size);
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--input-color-size);
  height: var(--input-color-size);
  padding: 0;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background-color: var(--background-color-gray2);
  background-origin: content-box;
  box-shadow: 0 0 0 1px var(--input-border-color);
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 50%;
  border: none;
}
input[type="color"]::-moz-color-swatch {
  border-radius: 50%;
  border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}