---
// Layout Import
import Layout from '../layouts/Layout.astro'

const fontPreviewLists = [
  {
    fontName: 'Noto Sans KR',
    className: 'notosans-normal'
  },
  {
    fontName: 'SUIT',
    className: 'suit-normal'
  },
  {
    fontName: 'SUITE',
    className: 'suite-normal'
  },
  {
    fontName: 'Min Sans',
    className: 'minsans-normal'
  },
  {
    fontName: 'Spoqa Han Sans Neo',
    className: 'spoqa-han-sans-normal'
  },
  {
    fontName: 'Nanum Gothic',
    className: 'nanumgothic-normal'
  },
  {
    fontName: 'IBMPlexSansKR Regular',
    className: 'ibmplexsanskr-normal'
  },
  {
    fontName: 'KoddiUD Gothic Regular',
    className: 'koddiud-normal'
  },
  {
    fontName: 'Nanum Square Neo Regular',
    className: 'nanum-square-neo-normal'
  },
  {
    fontName: '87mmilsang Regular',
    className: 'mmilsang88-normal'
  },
  {
    fontName: 'Wanted Sans',
    className: 'wantedsans-normal'
  }
]
---
<Layout 
  title="| 한글 본문 폰트" 
  description={`한글 폰트중에 본문에 사용할만한 폰트 목록입니다.`}>
    <div class="content">
      <div class="header-wrap">
        <hgroup>
          <h2>한글 일반 폰트</h2>
          <p>본문에 사용할만한 일반 폰트 목록입니다.</p>
        </hgroup>
        <textarea name="" cols="30" rows="10" class="font-editor" id="jsFontEditor">1234567890
가나다라마바사
ABCDEFGHIJKLNMOPQRSTUVWXYZ
abcdefghijklnmopqrstuvwxyz</textarea>
      </div>

      <ul class="font-preview-container" id="jsFontPreview">
        {
          fontPreviewLists.map((data) => (
            <li class="list-item">
              <p class="font-name">{data.fontName}</p>
              <div class:list={[ 'font-preview', 'ui-font-preview', [data.className] ]}></div>
            </li>
          ))
        }
      </ul>
    </div>
</Layout>
