---
// Layout Import
import Layout from '../layouts/Layout.astro'

---
<Layout 
  title="| 일반폰트와 가변 폰트를 비교" 
  description={`일반폰트와 가변 폰트를 비교하기 위해서 입니다.`}>
    <div class="content">
      <h2>폰트 비교</h2>
      <p>일반폰트와 가변 폰트를 비교하기 위해서 입니다.</p>
      <textarea name="" cols="30" rows="10" class="font-editor" id="jsFontEditor">123456789</textarea>
  
      <ul class="font-preview-container" id="jsFontPreview">
        <li class="list-item">
          <p class="font-name">Pretendard Variable</p>
          <div class="font-preview ui-font-preview pretendard"></div>
        </li>
        <li class="list-item">
          <p class="font-name">Pretendard</p>
          <div class="font-preview ui-font-preview pretendard-normal"></div>
        </li>
      </ul>
    </div>
</Layout>
