---
// Layout Import
import MainLayout from '../layouts/MainLayout.astro'

const fontLists = [
  {
    name: "Pretendard",
    github: "https://github.com/orioncactus/pretendard",
    homepage: "https://cactus.tistory.com/306"
  },
  {
    name: "SUIT",
    github: "https://github.com/sunn-us/SUIT",
    homepage: "https://sun.fo/suit/"
  },
  {
    name: "SUITE",
    github: "https://github.com/sunn-us/SUITE",
    homepage: "https://sun.fo/suite/"
  },
  {
    name: "Spoqa Han Sans Neo",
    github: "https://github.com/spoqa/spoqa-han-sans",
    homepage: "https://spoqa.github.io/spoqa-han-sans/"
  },
  {
    name: "Min Sans",
    github: "https://github.com/poposnail61/MinSans",
    homepage: "https://jinseong-kim.notion.site/Min-Sans-f4c815c207d2435d9cc468dd63196f07"
  },
  {
    name: "Noto Sans",
    github: "https://github.com/akngs/noto-kr-vf-distilled",
    homepage: "https://akngs.github.io/noto-kr-vf-distilled/"
  },
  {
    name: "KoddiUD Font",
    github: "",
    homepage: "https://www.koddi.or.kr/ud/sub1_2"
  },
  {
    name: "Nanum Square Neo",
    github: "",
    homepage: "https://campaign.naver.com/nanumsquare_neo/"
  },
  {
    name: "팔칠엠엠 일상",
    github: "",
    homepage: "https://87mmtypeface.co.kr/"
  },
  {
    name: "Wanted Sans",
    github: "https://github.com/wanteddev/wanted-sans",
    homepage: "https://github.com/wanteddev/wanted-sans/blob/HEAD/documentation/concept/README.md"
  }
]
---
<MainLayout 
  title="" 
  description={`한글 폰트 모음, 일반 폰트와 가변 폰트 비교, 가변 폰트 미리보기 서비스입니다.`}>
    <p class="introduction">
      한글 웹폰트는 웹사이트에서 텍스트를 더 아름답게 표현하고 사용자 경험을 향상시키는 데에 중요한 역할을 합니다.<br>
      풍부한 서체와 다양한 스타일의 웹폰트를 활용하면 디자인적으로 풍부하고 독창적인 웹페이지를 제작할 수 있습니다.<br> 
      다음 몇 가지 인기 있는 한글 웹폰트를 제공하는 사이트를 소개합니다.
    </p>
    <ul class="font-family-list">
      {
        fontLists.map((data) => (
          <li>
            <dl>
              <dt>{data.name}</dt>
              <dd><a href={data.github} class="github" target="_blank" title="새창열림">GitHub</a></dd>
              <dd><a href={data.homepage} class="homepage" target="_blank" title="새창열림">Homeppage</a></dd>
            </dl>
          </li>
        ))
      }
    </ul>
</MainLayout>
