---
// Layout Import
import MainLayout from '../layouts/MainLayout.astro'

const fontLists = [
  {
    name: "Pretendard",
    link: "https://github.com/orioncactus/pretendard",
    githubName: "pretendard GitHub"
  },
  {
    name: "SUIT",
    link: "https://github.com/sunn-us/SUIT",
    githubName: "SUIT GitHub"
  },
  {
    name: "SUITE",
    link: "https://github.com/sunn-us/SUITE",
    githubName: "SUITE GitHub"
  },
  {
    name: "Spoqa Han Sans Neo",
    link: "https://github.com/spoqa/spoqa-han-sans",
    githubName: "Spoqa Han Sans Neo GitHub"
  },
  {
    name: "Min Sans",
    link: "https://github.com/poposnail61/MinSans",
    githubName: "Min Sans GitHub"
  },
  {
    name: "Noto Sans",
    link: "https://github.com/akngs/noto-kr-vf-distilled",
    githubName: "Noto Sans GitHub"
  },
  {
    name: "KoddiUD Font",
    link: "https://www.koddi.or.kr/ud/sub1_2",
    githubName: "KoddiUD Font Homeppage"
  },
  {
    name: "Nanum Square Neo",
    link: "https://campaign.naver.com/nanumsquare_neo/",
    githubName: "Nanum Square Neo Homeppage"
  },
  {
    name: "팔칠엠엠 일상",
    link: "https://87mmtypeface.co.kr/",
    githubName: "팔칠엠엠 일상 Homeppage"
  },
  {
    name: "Wanted Sans",
    link: "https://github.com/wanteddev/wanted-sans",
    githubName: "Wanted Sans GitHub"
  }
]
---
<MainLayout 
  title="" 
  description={`한글 폰트 모음, 일반 폰트와 가변 폰트 비교, 가변 폰트 미리보기 서비스입니다.`}>
    <ul class="">
      <li>
        <a href="/font-list/">한글 폰트 모음</a>
      </li>
      <li>
        <a href="/font-compare/">폰트 비교</a>
      </li>
      <li>
        <a href="/preview/">가변 폰트 미리보기</a>
      </li>
    </ul>

    <ul class="font-family-list">
      {
        fontLists.map((data) => (
          <li>
            <dl>
              <dt>{data.name}</dt>
              <dd><a href={data.link} target="_blank">{data.githubName}</a></dd>
            </dl>
          </li>
        ))
      }
    </ul>
</MainLayout>
