---
// Layout Import
import MainLayout from '../layouts/MainLayout.astro'

---
<MainLayout 
  title="Home11" 
  description={`Hey! This is Astromnl a simple Astro blog template.`}>
    <!-- <h1 class="font-size-3">dfsf</h1> -->
    <ul class="">
      <li><a href="/font-list/">한글 폰트 모음</a></li>
      <li><a href="/font-compare/">폰트 비교</a></li>
      <li><a href="/preview/">가변 폰트 미리보기</a></li>
    </ul>

    <dl>
      <dt>pretendard</dt>
      <dd><a href="https://github.com/orioncactus/pretendard" target="_blank">pretendard github</a></dd>
      <dt></dt>
      <dd><a href="" target="_blank">SUIT github</a></dd>
      <dt></dt>
      <dd><a href="" target="_blank">github</a></dd>
      <dt></dt>
      <dd><a href="" target="_blank"></a></dd>
      <dt>Min Sans Font</dt>
      <dd><a href="https://github.com/poposnail61/MinSans" target="_blank">Min Sans Font github</a></dd>
    </dl>


    
    <!-- 'Min Sans Font
      https://github.com/poposnail61 -->
</MainLayout>
