---
// Layout Import
import MainLayout from '../layouts/MainLayout.astro'

---
<MainLayout 
  title="" 
  description={`한글 폰트 모음, 일반 폰트와 가변 폰트 비교, 가변 폰트 미리보기 서비스입니다.`}>
    <!-- <h1 class="font-size-3">dfsf</h1> -->
    <ul class="">
      <li>
        <a href="/font-list/">한글 폰트 모음</a>
      </li>
      <li>
        <a href="/font-compare/">폰트 비교</a>
      </li>
      <li>
        <a href="/preview/">가변 폰트 미리보기</a>
      </li>
    </ul>

    <ul class="font-family-list">
      <li>
        <dl>
          <dt>Pretendard</dt>
          <dd><a href="https://github.com/orioncactus/pretendard" target="_blank">pretendard github</a></dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>SUIT</dt>
          <dd><a href="https://github.com/sunn-us/SUIT" target="_blank">SUIT github</a></dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>SUITE</dt>
          <dd><a href="https://github.com/sunn-us/SUITE" target="_blank">SUITE github</a></dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>Spoqa Han Sans Neo</dt>
          <dd><a href="https://github.com/spoqa/spoqa-han-sans" target="_blank">github</a></dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>Min Sans Font</dt>
          <dd><a href="https://github.com/poposnail61/MinSans" target="_blank">Min Sans Font github</a></dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>Noto Sans Font</dt>
          <dd><a href="https://github.com/akngs/noto-kr-vf-distilled" target="_blank">Noto Sans Font github</a></dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>KoddiUD Font</dt>
          <dd><a href="https://www.koddi.or.kr/ud/sub1_2" target="_blank">KoddiUD Gothic homepage</a></dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>Nanum Square Neo Font</dt>
          <dd><a href="https://campaign.naver.com/nanumsquare_neo/" target="_blank">Nanum Square Neo homepage</a></dd>
        </dl>
      </li>
    </ul>


    
    <!-- 'Min Sans Font
      https://github.com/poposnail61 -->
</MainLayout>
