---
// Layout Import
import Layout from '../layouts/Layout.astro'

const fontPreviewLists = [
  {
    fontName: 'Pretendard Variable',
    className: 'pretendard'
  },
  {
    fontName: 'SUIT Variable',
    className: 'suit'
  },
  {
    fontName: 'SUITE Variable',
    className: 'suite'
  },
  {
    fontName: 'Min Sans Variable',
    className: 'minsans'
  },
  {
    fontName: 'Noto Sans KR Variable',
    className: 'notosans'
  },
  {
    fontName: 'Nanum Square Neo Variable',
    className: 'nanum-square-neo'
  },
  {
    fontName: 'Wanted Sans Variable',
    className: 'wantedsans'
  }
]
---
<Layout 
  title="| 가변 폰트 미리보기" 
  description={`한글 본문 폰트중에 가변 폰트를 지원하는 폰트를 미리보기 위한 서비스입니다.`}>
    <div class="content">
      <div class="header-wrap">
        <hgroup>
          <h2>한글 가변 폰트</h2>
          <p>본문에 사용할만한 가변 폰트 목록입니다.</p>
        </hgroup>
        <textarea name="" cols="30" rows="10" class="font-editor" id="jsFontEditor">1234567890
가나다라마바사
ABCDEFGHIJKLNMOPQRSTUVWXYZ
abcdefghijklnmopqrstuvwxyz</textarea>
      </div>

      <ul class="font-preview-container" id="jsFontPreview">
        {
          fontPreviewLists.map((data) => (
            <li class="list-item">
              <p class="font-name">{data.fontName}</p>
              <div class:list={[ 'font-preview ui-font-preview', [data.className] ]}></div>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="checklist" id="jsToggleVisibility">
      <h3>Font List Filter</h3>
      <ul>
        {
          fontPreviewLists.map((data, index) => (
            <li>
              <label>
                <input 
                  type="checkbox"
                  name={"checklist" + index} 
                  id={"checklist" + index} 
                  class="input-item"
                >
                <span class="text">{data.fontName}</span>
              </label>
            </li>
          ))
        }
      </ul>
    </div>
</Layout>
