---
// Layout Import
import Layout from '../layouts/Layout.astro'

---
<Layout 
  title="| 가변 폰트 미리보기" 
  description={`한글 본문 폰트중에 가변 폰트를 지원하는 폰트를 미리보기 위한 서비스입니다.`}>
    <div class="content">
      <h2>가변 폰트 미리보기</h2>
      <p>한글 가변 폰트 모음입니다.</p>
      <textarea name="" cols="30" rows="10" class="font-editor" id="jsFontEditor">123456789</textarea>
  
      <div class="font-preview-container" id="jsFontPreview">
        <div class="font-preview pretendard"></div>
        <div class="font-preview suit"></div>
        <div class="font-preview suite"></div>
        <div class="font-preview minsans"></div>
        <div class="font-preview notosans"></div>
        <div class="font-preview nanum-square-neo"></div>
        <div class="font-preview wantedsans"></div>
      </div>
    </div>
</Layout>
