---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import MainHead from '../components/MainHead.astro'

const { title, description, head } = Astro.props;
---
<html lang="ko">
<!-- <html lang='en' class='no-js'> -->
  <head>
    {head}
    <MainHead title={title} description={description} />
  </head>
  <body>
      <Header/>
      <slot />
      <Footer />
  <script src="/js/app.js"></script>
  </body>
</html>
